
.catalog-section__block{
    list-style: none;
    padding-left: 0;
}

.catalog-section__link{
    position: relative;
    display: flex;
    flex:1;
    text-decoration: none;
    color: var(--c-base--dark);
}

.catalog-section__link._bold{
    font-weight: 700;
}

.catalog-section__list .catalog-section__block{
    padding-left: 10px;
    display: none;
}

.catalog-section__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.catalog-section__list .catalog-section__block.active{
    display: block;
}